[package]
name = "example"
version = "0.9.2"
edition = "2021"

[dependencies]
http = "^1.0"
kinetics = "0.10.1"
tower = "^0"
serde_json = { version = "1.0.145", features = ["default"] }
sqlx = { version = "0.8.6", features = ["postgres", "runtime-tokio-rustls"] }
matchit = "0.8.6"
