[package]
name = "example"
version = "0.8.1"
edition = "2021"

[package.metadata.kinetics.kvdb.users]
name = "mytable"

[dependencies]
aws-config = "1.8.8"
aws-sdk-dynamodb = "1.95.0"
http = "^1.0"
lambda_runtime = "0.14.4"
kinetics = "0.9.2"
tokio = "1.48.0"
tower = "^0"
aws-sdk-sqs = "1.86.0"
serde_json = { version = "1.0.145", features = ["default"] }
sqlx = { version = "0.8.6", features = ["postgres", "runtime-tokio-rustls"] }
